body {
    font-family: Tahoma,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

/*HEADER*/



.menu-container a {
    text-align: center;
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;

}

.menu-container a:hover {
text-decoration: underline;
    }

    .logo-container {
        display: none;
    }


    .search {
    margin-left: 10px;
text-align: center;
    display: block;
}



@media (min-width: 600px) {

.header-container, .menu-container, .logo-container {
        display: flex;
    flex-wrap: wrap;
    
}

.header-container {
    justify-content: space-between;
    flex-direction: column-reverse;

}

.menu-container  {
  list-style: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.logo-container {
    flex-direction: column;
    align-items: center;
margin-right: auto;
margin-left: 20px;
margin-top: 20px;
background-color: rgba(0, 120, 201, 0.65);
}


.slogan {
    color:white;
    font-size: 1.3em;
font-weight: bold;
}

.menu-container a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}



.menu-container input {
    
    margin-top: 10px;
}
}


@media (min-width: 1180px) {

.header-container, .menu-container, .logo-container {
        display: flex;
    flex-wrap: wrap;
    
}

.header-container {
    justify-content: space-between;
    flex-direction: row;
}

.logo-container {
    background-color: rgba(0, 120, 201, 0.4);
}

}




/*PAGE MAIN */
 .page-main {
     padding: 0px;
     height: 4020px;
         width: 100%;
     position: relative;
     box-sizing: border-box;
     line-height: 1.5;
     font-family: MuseoSans,Helvetica,Arial,sans-serif;
 font-size: 16px;
 color: #1A1919;
 background-color: #F9F2EC;
 }
 
 .page-main a {
 font-family: Calibri, Trebuchet MS, sans-serif;
  font-size: 20px;
     font-weight: bold;
     color: #009933;
 text-decoration: none;
 }
 .page-main a:hover {
 color: #99FF99;}
 
 .page-main .row {
     margin-left: 15px;
     margin-right: 15px;
     box-sizing: border-box;
 }
 
 .col-md-12 {
     width: auto;
     float: left;
    
 min-height: 1px;
 padding-left: 0px;
 padding-right: 0px;
     padding-top: 0px;
     margin-top: 0px;
     margin-left: 0px;
     margin-bottom: 0px;
     margin-right: 0px;
 }
 
 .col-sm-5 {
     width: 31.6667%;
     float: left;
         position: relative;
     min-height: 1px;
     padding-left: 15px;
     padding-right: 15px;
     box-sizing: border-box;
 }
 
 .about {
 background-color: white;
 padding: 10px;}
 
 .pageName {
     margin: 0;
     padding: 0 0 0 12px;
     height: 50px;
     line-height: 50px;
     color: #fff;
     font-family: Calibri, Trebuchet MS, sans-serif;
     font-size: 20px;
     font-weight: normal;
     text-transform: uppercase;
     background-color: #009933;
     text-align: center;
     }
 
 .text-label {
     font-weight: 700;
     box-sizing: border-box;
 }
 
 ul {list-style: none;
 margin: 0px;
     }
 
 .kmenu a {
      color: lawngreen;
     font-size: 18px;
 }
 
 .col-sm-7 {
     width: 60%;
     float: left;
     position: relative;
 min-height: 1px;
 padding-left: 15px;
 padding-right: 15px;
     box-sizing: border-box;
     }
 
 .pageTitle {
     color: #009933;
     text-align: center;
     }
 
 .pageTitle h1 {
         font-size: 22px;
     line-height: 1.25em;
     font-family: Trebuchet MS,sans-serif;
     text-transform: uppercase;
     margin: 0px;
     padding: 10px;
     padding-bottom: 15px;
 } 
 
 .article-section {
     margin-bottom: 40px;
     box-sizing: border-box;
     background-color: white;
     
 }
 
 .article-section h2 {
 text-align: center;
    } 

.article-section h2 a {
    font-size: 35px;  
 } 
 
 p {
         margin-top: 0px;
         margin-right: 0px;
         margin-bottom: 1.55em;
         margin-left: 0px;
     padding-left: 15px;
     padding-right: 15px;
     box-sizing: border-box;
 }
 
 /* END PAGE-MEIN*/
 
 /*FOOTER*/
 
 footer {
    margin: 0;
    min-width: 320px;
    max-width: 100%;
    height: auto;
    background: #322016;
    
}
.footer_flex{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap:wrap;
}
.footer_flex div{
  margin:10px;
}

.footer_flex span {
    float: left;
    color: #2f4f4f;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
}
.footer_flex .adress span{
  font-size: 14px;
}
.footer_flex div img
{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
}
.footer_flex img.mail{
  width: 30px;
  height: 20px;
  border-radius: 0px;
}
.footer_flex div  a img{
  margin-left: 20px;
  border-radius: 2px;
}
.footer_flex div  a img:hover{
  margin-left: 20px;
  border:1px solid white;
  cursor: pointer;
}
.copyright{
  color: #2f4f4f;
  font-size: 12px;  
}







/*FOOTER*/


  /*Adapt part*/
  @media all and (max-width: 890px) and (min-width: 650px){
  .main{
    height: 600px;
  }
  .main .cols.col-3{
    width: 33%;
    margin: 0 auto;
    display: inline-block;
  }
   .main .cols.col-3 article.green{
    margin-top: 20px;


   }
}
@media all and (max-width: 680px){
    .main .cols.col-3{
    width: 50%;
    margin: 0 auto;
    display: inline-block;
  }
     .main .cols.col-3 article.green,
    .main .cols.col-3 article.red
     {
    margin-top: 20px;
  }
  .container header .cols.col-3{
      width:100%;
  }
  

    .container header .cols.col-9{
      display: none;
  }
  .header_hidden{
    display: block;
  }
}   
   
@media all and (max-width: 455px){
    .main .cols.col-3{
    width: 100%;
    margin: 0 auto;
    display: block;
    
  }

     .main .cols.col-3 article.green,
    .main .cols.col-3 article.red,
    .main .cols.col-3 article.orange
     {
    margin-top: 20px;
    
}
.header_hidden nav ul li{
  display: block;
  font-weight: bold;
  font-size: 15px;   
 } 
input[type="text"]{
  width: 100px;
}
}
 /*FOOTER*/