
 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 0em;
  list-style: square;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
       }
    body{
      font:100%/1.5em Arial, sans-serif;
      color:#000;
    }
    .container_site{
           width: 100%;
              } 
        .row{
			height:100%;
		}
        .container_site .cols{
          float: left;
          margin:0 0 ;
          padding: 0;
          
          text-align: center;
        }
        .container_site .cols.col-1{
          width: 8.333333%;
        }
        .container_site .cols.col-2{
          width: 16.666666%;
        }
        .container_site .cols.col-3{
          width: 25%;
        }
        .container_site .cols.col-4{
          width: 33.333333%;
        }
        .container_site.cols.col-5{
          width: 41.666666%;
        }
        .container_site .cols.col-6{
          width: 50%;
        }
        .container_site .cols.col-7{
          width: 58.333333%;
        }
        .container_site .cols.col-8{
          width: 66.666666%;
        }
        .container_site .cols.col-9{
          width: 75%;
        }
        .container_site .cols.col-10{
          width: 83.333333%;
        }
        .container_site .cols.col-11{
          width: 91.666666%;
        }
        .container_site .cols.col-12{
          width: 100%;
        }  
        .container_site:before,
        .container_site:after,
        .row:after,
        .row:before,
        .clear:before,
        .clear:after{
        content: " ";
        display: block;
        }

        .container:after,
        .row:after,
        .clear:after{
        clear: both;
        }  
        
/*Header*/
header{
  width: 100%;
  height: 300px; 
  background-image: url(images/iv-frn.jpg);
  } 


  header .row .cols img{
        margin-left: 50px;
        margin-top: 20px;
        display: block;
        
       text-align: left; 
       clear: both;

        }
  header .row .cols h2,
  header .row .cols h3
  {
  display: block;
  text-align: left;
  margin-left: 50px;
  color: white;
  font-size: 22px;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  }
  header .row .cols h2{
  font-size: 30px;
    }

        /* Навігаційна панель*/
        nav{
          margin-left: 0px;
          margin-right: 0px;
          width: 100%;
		  
          
        }
        nav ul{
			   height:100%;
          margin-top: 0;
         text-align: right;
         padding-right: 20px; 
        
        }

 nav ul li{
  display: inline-block;
  list-style-type: none;
  margin-left: 15px;
  padding: 2px 5px;
  border-radius: 5px;
  opacity: 1;
  font-weight: normal;
  font-family: Tahoma,sans-serif;
  font-size: 20px;
  cursor: pointer;
   
 } 


nav a{
  text-decoration: none;
  color: white;
   } 
nav a:hover{
  text-decoration: underline;
  color: white;
   } 

.menu-container a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: white;
    text-decoration: none;
        font-family: Tahoma,sans-serif;
    font-size: 20px;
    cursor: pointer;

}

.menu-container a:hover {
text-decoration: underline;
  }

  .logo-container {
    display: none;
  }


  .search {
  margin-left: 10px;
text-align: center;
  display: block;
}



@media (min-width: 600px) {

.header-container, .menu-container, .logo-container {
    display: flex;
  flex-wrap: wrap;
  
}

.header-container {
  justify-content: space-between;
  flex-direction: column-reverse;

}

.menu-container  {
  list-style: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.logo-container {
  flex-direction: column;
  align-items: center;
margin-right: auto;
margin-left: 20px;
margin-top: 20px;
background-color: rgba(0, 120, 201, 0.65);
}


.slogan {
  color:white;
  font-size: 1.3em;
font-weight: bold;
}

.menu-container a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}



.menu-container input {
  
  margin-top: 10px;
}
}


@media (min-width: 1180px) {

.header-container, .menu-container, .logo-container {
    display: flex;
  flex-wrap: wrap;
  
}

.header-container {
  justify-content: space-between;
  flex-direction: row;
}

.logo-container {
  background-color: rgba(0, 120, 201, 0.4);
}

}





/*PAGE MAIN */
 .page-main {
     padding: 0px;
     height: 100%;
         width: 100%;
     position: relative;
     box-sizing: border-box;
     line-height: 1.5;
     font-family: MuseoSans,Helvetica,Arial,sans-serif;
 font-size: 16px;
 color: #1A1919;
 background-color: #F9F2EC;
 }
 
 .page-main a {
 font-family: Calibri, Trebuchet MS, sans-serif;
  font-size: 20px;
     font-weight: bold;
     color: #ed1c24;
 text-decoration: none;
 }
 .page-main a:hover {
 color: #99FF99;}
 
 .page-main .row {
     margin-left: 15px;
     margin-right: 15px;
     box-sizing: border-box;
 }
 
 .col-md-12 {
     width: auto;
     float: left;
     position: relative;
 min-height: 1px;
 padding-left: 0px;
 padding-right: 0px;
     padding-top: 0px;
     margin-top: 0px;
     margin-left: 0px;
     margin-bottom: 0px;
     margin-right: 0px;
 }
 
 .col-sm-5 {
     width: 31.6667%;
     float: left;
         position: relative;
     min-height: 1px;
     padding-left: 15px;
     padding-right: 15px;
     box-sizing: border-box;
 }
 
 .about {
 background-color: white;
 padding: 10px;}
 
 .pageName {
     margin: 0;
     padding: 0 0 0 12px;
     height: 50px;
     line-height: 50px;
     color: #fff;
     font-family: Calibri, Trebuchet MS, sans-serif;
     font-size: 20px;
     font-weight: normal;
     text-transform: uppercase;
     background-color: #ed1c24;
     text-align: center;
     }
     @media all and (max-width: 650px){
      .col-sm-5{
        width: 100%;
      }
     section .col-sm-7{
        width: 100%
      }
     }
 
 .text-label {
     font-weight: 700;
     box-sizing: border-box;
 }
 
 ul {list-style: none;
 margin: 0px;
     }
 
 .kmenu a {
      color:  #FF4500;
     font-size: 18px;
     margin-left: 30px;
 }
 
 .col-sm-7 {
     width: 68%;
     float: left;

 min-height: 1px;
 padding-left: 15px;
 padding-right: 15px;
     }
 
 .pageTitle {
     color: #ed1c24;
     text-align: center;
     clear: both;
     }
 
 .pageTitle h1 {
         font-size: 22px;
     line-height: 1.25em;
     font-family: Trebuchet MS,sans-serif;
     text-transform: uppercase;
     margin: 0px;
     padding: 10px;
     padding-bottom: 15px;
 } 
 
 .article-section {
     margin-bottom: 0px;
     box-sizing: border-box;
     background-color: white;
     height: inherit;
     color:#541906;

 }
  .article-section .wrapper {
    margin: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
  }
.wrapper h4{
  font-size: 14px;
}
.wrapper .wrapper_foto{
  margin: 0;
  padding: 0;
  border: 2px solid grey;
  margin-bottom: 5px;

}
.wrapper .wrapper_foto .largeImg{
  width: 300px;
  margin: 0 auto;
  padding: 0px;
  display: block;
}
.wrapper .wrapper_foto .largeImg img{
  display: block;
  width: 100%;
}
.wrapper .wrapper_foto .smallImg{
padding: 0px;
width: 300px;
margin: 0 auto;
}
.wrapper .wrapper_foto .smallImg img{
width: 20%;
height: auto;
padding: 2px;
margin: 0px;
}
.wrapper .wrapper_foto .smallImg  a img:hover{
  opacity: 0.8;
}
  .article-section .wrapper img{
    margin:0 auto;
      }

 .article-section h2, 
 .article-section h1 {
 text-align: center;
 color:#ed1c24;
    } 

.article-section h2 a {
    font-size: 35px;  
 } 
 .article-section a img{
  display: inline-block;
  float: left;
  width: 400px;
  height: 350px;
  padding: 15px;
  padding-bottom: 0px;
 }
 @media (max-width: 850px) {

 .article-section a img{
  width: 100%;
}
  
}
 .article-section ul li{
  list-style:none;
  margin-left: 15px;
  text-align: justify;
   text-indent: 20px;
   padding-right: 15px;
 }
 .article-section ul span{
  font-weight: bold;
 }
 
 .pageTitle p {
     text-indent: 20px;
     margin-top: 0px;
     margin-top: 0px;
     margin-right: 0px;
     margin-left: 0px;
     padding-left: 15px;
     padding-right: 15px;
     color:#541906;
     box-sizing: border-box;
     text-align: justify;
 } 


/*main section*/
.main{
    height: 300px;
    background-color: #F9F2EC;
    text-align: center;

}
.main article{
  width: 80%;
  float:left;
  height: 300px;
  margin-left: 10%; 
  margin-right: 10%; 
  margin-top:-40px;
  background-color: #009bdf;
  position: relative;
}
.main article.orange{
  background-color:#f58220 ;
}
.main article.red{
  background-color:#ed1c24 ;
}
.main article.green{
  background-color:#00a651;
}
.main article h2{
  font-family: Calibri, "Trebuchet MS", sans-serif;
  
  font-size: 21px;
  font-weight: normal;
  color:white;
  vertical-align: baseline;
  line-height: 30px;
  margin-top:5px;
}
.main article h2 a{
   color:white;
   text-transform: uppercase;
   text-decoration: none;

}
.main article h2 a:hover{
   color:white;
   text-transform: uppercase;
   text-decoration: underline;

}
.main article .content{
position: absolute;
top: 12%;
left: 0;
background-color: white;
height: 270px;
width: 100%;
}


/*Effects with content of main part*/

.reveal-wrapper{
 
position: relative;
height:270px;}

.reveal-wrapper h1{
  margin: 0;
  padding: 100px;
  color: white;
}  
 

.reveal-wrapper:hover .reveal-top{
height: 0%;
}
.reveal-wrapper:hover .reveal-content{
	top:0;
	left:0;
height: 100%;

}
.reveal-content a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.reveal-wrapper .reveal-content{
	 overflow: hidden;
   position: absolute;
  top: 80%;
  left: 0;  
  color:black ;
  background:white;
  width:100%;
  height:20%;
  -webkit-transition:all 0.6s ease;
  font-size: 17px;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
   
}
.reveal-top{
  overflow: hidden;
  background-image: url(images/vartoPobachit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  -webkit-transition:height 0.6s ease;
      }
.reveal-top.place{
  background-image: url(images/place.png);
}
.reveal-top.hotels{
  background-image: url(images/hotels.jpg);
}
.reveal-top.food{
  background-image: url(images/food.png);
}
.reveal-content h1{
  color: black;
}
.reveal-content:hover .more_about{
 position: absolute;
 right: 0;
 bottom: 0;
  color:blue;
  font-size: 16px;
}

/*panel of event*/
  .main h2{
    color: #541906;
    text-align: center;
    margin-left: 0px;
    font-family: Calibri, Trebuchet MS, sans-serif;
    margin-top: 10px;
    font-size: 24px;
  }

 .main .cols{
background-color: #F9F2EC;

 } 
.event{
  margin-top: 20px;
  height: 100%
}
.news-container, .news {
  display: flex;
  flex-wrap: wrap;
}

.news-container {
  flex-direction: column;
  height: 350 px;
  background-color: #bbeee7
  padding: 1em;
  
}

.news-header {
  margin: auto;
  font-size: 150%;
  color: #541906;
  padding-bottom: 0.5em;
}

.news {
  justify-content: space-around;
}

.news-item {
  background-color: white;
  margin: 0 .5em .8em;
  
  box-shadow: 5px 5px 5px #663333;


}

.news-item:hover {
  font-weight: bold;
      opacity: 0.8;
      border: 2px solid blue;
}

.news-link a {
  color: #541906;
  text-decoration: none;
}

.news-link {
  text-align: center;
}

.allnews {
  margin: auto;
  padding-top: 0.7em;
}

.allnews a {
  color: #541906;
  text-decoration: none;
  font-weight: bold;
} 

















  /*FOOTER*/

footer {
    margin: 0;
    min-width: 320px;
    max-width: 100%;
    height: auto;
    background: #322016;
    
}
.footer_flex{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap:wrap;
}
.footer_flex div{
  margin:10px;
}

.footer_flex span {
    float: left;
    color: #2f4f4f;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
}
.footer_flex .adress span{
  font-size: 14px;
}
.footer_flex div img
{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
}
.footer_flex img.mail{
  width: 30px;
  height: 20px;
  border-radius: 0px;
}
.footer_flex div  a img{
  margin-left: 20px;
  border-radius: 2px;
}
.footer_flex div  a img:hover{
  margin-left: 20px;
  border:1px solid white;
  cursor: pointer;
}
.copyright{
  color: #2f4f4f;
  font-size: 12px;  
}







/*FOOTER*/


  /*Adapt part*/
  @media all and (max-width: 890px) and (min-width: 650px){
  .main{
    height: 600px;
  }
  .main .cols.col-3{
    width: 33%;
    margin: 0 auto;
    display: inline-block;
  }
   .main .cols.col-3 article.green{
    margin-top: 20px;


   }
}
@media all and (max-width: 680px){
    .main .cols.col-3{
    width: 50%;
    margin: 0 auto;
    display: inline-block;
  }
     .main .cols.col-3 article.green,
    .main .cols.col-3 article.red
     {
    margin-top: 20px;
  }
  .container header .cols.col-3{
	  width:100%;
  }
  

    .container header .cols.col-9{
	  display: none;
  }
  .header_hidden{
    display: block;
  }
}   
   
@media all and (max-width: 455px){
    .main .cols.col-3{
    width: 100%;
    margin: 0 auto;
    display: block;
	
  }

     .main .cols.col-3 article.green,
    .main .cols.col-3 article.red,
	.main .cols.col-3 article.orange
     {
    margin-top: 20px;
	
}

}