 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 0em;
  list-style: square;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
       }
    body{
      font:100%/1.5em Arial, sans-serif;
      color:#000;
    }
    .container{
           width: 100%;
              } 
        .row{
			height:100%;
		}
        .container .cols{
          float: left;
          margin:0 0 ;
          padding: 0;
          
          text-align: center;
        }
        .container .cols.col-1{
          width: 8.333333%;
        }
        .container .cols.col-2{
          width: 16.666666%;
        }
        .container .cols.col-3{
          width: 25%;
        }
        .container .cols.col-4{
          width: 33.333333%;
        }
        .container .cols.col-5{
          width: 41.666666%;
        }
        .container .cols.col-6{
          width: 50%;
        }
        .container .cols.col-7{
          width: 58.333333%;
        }
        .container .cols.col-8{
          width: 66.666666%;
        }
        .container .cols.col-9{
          width: 75%;
        }
        .container .cols.col-10{
          width: 83.333333%;
        }
        .container .cols.col-11{
          width: 91.666666%;
        }
        .container .cols.col-12{
          width: 100%;
        }  
        .container:before,
        .container:after,
        .row:after,
        .row:before,
        .clear:before,
        .clear:after{
        content: " ";
        display: block;
        }

        .container:after,
        .row:after,
        .clear:after{
        clear: both;
        }  
        footer{
  width: 100%;
  height: 150px;
}
header{
  width: 100%;
  height: 100px;
  background-color:rgb(230,228,231);
 
}
header h1{
	 transform: skew(-10deg, -5deg);

	perspective:200px;
}
img{
          width: 100%;
          height: 100px;
          

        }

        /* Навігаційна панель*/
        nav{
          background-color: #70eada;
          margin-left: 0px;
          margin-right: 0px;
          width: 100%;
		  
          
        }
        nav ul{
			height:100%;
          margin-top: 0;
         text-align: center;
         padding-right: 20px; 
        
        }

 nav ul li{
  display: inline-block;
  list-style-type: none;
  margin-left: 15px;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #24e2c8;
  -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6), inset -5px -5px 10px #00c5aa;
  -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6), inset -5px -5px 10px #00c5aa;
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6), inset -5px -5px 10px #00c5aa;
   
 } 
 nav ul li:hover{      
-webkit-transform:scaleX(1.1); 
-webkit-transition:all 0.3s ease;}

nav a{
  text-decoration: none;
   
} 
/* Панель пошуку*/
.settings{
 text-align: right;
 padding-right: 20px;
 margin-top: 5px;
 margin-bottom: 5px;
}
input[type="text"]{
  margin-left: 10px;
  border-radius: 3px;
  margin-top: 3px;
  
}
input[type="button"]{
  margin-left: 10px;
  border-radius: 3px;
  margin-top: 3px;
  width: 60px;
}


 /* Випадаюче меню вибору мови сайту */
ul.dropdown{
  display: block;
float: right;
margin-left: 20px;
margin-top: 3px;
}

ul.dropdown li { position: relative; 
border:2px solid blue;
padding:3px;
border-radius: 3px;
background-image: url(ukr.jpg);
width: 40px;
height: 20px;


}
 ul.dropdown,
 ul.dropdown-inside {
 list-style-type: none;
 padding: 0;
 }
 ul.dropdown-inside {
 position: absolute;
 left: -9999px;
 }
 ul.dropdown li.dropdown-top {
 display: inline;
 float: left;
 margin: 0 1px 0 0;

 }
 ul.dropdown li.dropdown-top a {
 padding: 3px 10px 4px;
 display: block;
 }
 ul.dropdown a.dropdown-top { background: #efefef; }
 ul.dropdown a.dropdown-top:hover { padding: 2px 10px 5px; }
 ul.dropdown li.dropdown-top:hover .dropdown-inside {
 display: block;
 left: 0;
 }
 ul.dropdown .dropdown-inside { background: #fff; }
 ul.dropdown .dropdown-inside a:hover { background: #efefef; }
 li.dropdown-top img{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: center;
  padding-top: 3px;

 }
  ul.dropdown-inside li:nth-child(1){
     background-image: url(ukr.jpg);
       background-repeat: repeat-x;
      display: inline-block;
     width: 40px;
  }
   ul.dropdown-inside li:nth-child(2){
     background-image: url(pol.jpg);
       background-repeat: repeat-x;
      display: inline-block;
     width: 40px;
  }
   ul.dropdown-inside li:nth-child(3){
     background-image: url(eng.jpg);
     background-repeat: repeat-x;
      display: inline-block;
     width: 40px;
  }
  section{
    width: 100%;
    height: 300px;
    background-image: url(iv-frn.jpg);
  }

/*Основна секція*/
.main{
    height: 300px;
    background-color: #bbeee7;
    text-align: center;

}
.main article{
  width: 80%;
  float:left;
  height: 300px;
  margin-left: 10%; 
  margin-right: 10%; 
  margin-top:-40px;
  background-color: #009bdf;
  position: relative;
}
.main article h2{
  font-family: Calibri, "Trebuchet MS", sans-serif;
  
  font-size: 21px;
  font-weight: normal;
  color:white;
  vertical-align: baseline;
  line-height: 30px;
  margin-top:5px;
}
.main article h2 a{
   color:white;
   text-transform: uppercase;
   text-decoration: none;

}
.main article h2 a:hover{
   color:white;
   text-transform: uppercase;
   text-decoration: underline;

}
.main article .content{
position: absolute;
top: 12%;
left: 0;
background-color: white;
height: 270px;
width: 100%;
}


/*Діви в основній частині*/
 .reveal-wrapper h1{
  margin: 0;
  padding: 100px;
  color: white;
}
.reveal-wrapper{
 
position: relative;
height:270px;
  
 
}
.reveal-wrapper:hover .reveal-top{
height: 0%;
}
.reveal-wrapper:hover .reveal-content{
	top:0;
	left:0;
height: 100%;

}
.reveal-wrapper .reveal-content{
	 overflow: hidden;
   position: absolute;
  top: 80%;
  left: 0;  
  color:black ;
  background:white;
  width:100%;
  height:20%;
  -webkit-transition:all 0.6s ease;
  font-size: 17px;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
   
  
}
.reveal-top{
  overflow: hidden;
  background-image: url(images/vartoPobachit.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  -webkit-transition:height 0.6s ease;

  
}

.reveal-content h1{
  color: black;
}