body {
    font-family: Tahoma,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

/*HEADER*/

header {
background-image: url(image/wpid-vech-rn-y-vano_i_1.jpg);
background-size: cover;
max-width: 100%;
height: 450px;
box-sizing: border-box;
    position: relative;
    z-index: 1;
margin: 0px;
padding: 0px;
}

div {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

/*nav*/

/*
.menu_ul > li {
    display: inline-block;
    height: auto;
    font-family: Tahoma,sans-serif;
    font-size: 20px;
    cursor: pointer;
}

ul li a {
    line-height: 10px;
    padding: 10px;
    color: burlywood;
text-decoration: none;
}

ul li a:hover {
    color: lightgreen;
text-decoration: overline;
}

ul li a:active {
    border: 1px #fff solid;
    padding: 7px 20px;
    color: #fff;
    background: none;
}

   


/*END NAV*/

/*button search*/



/*button search*/


/*logotyp*/

/*
.logo {
     margin: 0px;
    padding-bottom: 10px;
    padding-left: 110px;
    padding-right: 10px;
    padding-top: 20px;
    height: 250px;
    }

.logo_title {
height: 90px;
}

.logo_title h4 a {
    text-align: left;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    color: aliceblue;
    font-size: 35px;
    font-family: MuseoSans,Helvetica,Arial,sans-serif;
    text-decoration: none;
    }

.logo_title h1 a {
    text-align: left; 
    margin: 0px;
    padding: 5px 0px 5px 0px;
    padding-left: 0px;
    color: aliceblue;
    font-size: 52px;
    font-family: MuseoSans,Helvetica,Arial,sans-serif;
    text-decoration: none;
    }

.logo_title h4 a:hover {
    color: lightgreen;
}
    
.logo_title h1 a:hover {
    color: lightgreen;
}

/*END logotype*/

/*PAGE MAIN */
/* .conteiner_page-main {
    flex-direction: column;
      }

.conteiner_page-main, .col-md-12 {
    display: flex;
    flex-wrap: wrap;
}
*/
 .conteiner_page-main {
     height: 4020px;
         width: 100%;
     position: relative;
     box-sizing: border-box;
     line-height: 1.5;
     font-family: MuseoSans,Helvetica,Arial,sans-serif;
 font-size: 16px;
 color: #1A1919;
 background-color: #F9F2EC;
 }
 
 .conteiner_page-main a {
 font-family: Calibri, Trebuchet MS, sans-serif;
  font-size: 20px;
     font-weight: bold;
     color: #009933;
 text-decoration: none;
 }
 .conteiner_page-main a:hover {
 color: #99FF99;}
 
 .conteiner_page-main .row {
     margin-left: 15px;
     margin-right: 15px;
     padding-bottom: 30px;
     padding-top: 30px;
     box-sizing: border-box;
 }
 
 .col-md-12 {
     width: auto;
     float: left;
     position: relative;
 min-height: 1px;
 padding-left: 0px;
 padding-right: 0px;
     padding-top: 0px;
     margin-top: 0px;
     margin-left: 0px;
     margin-bottom: 0px;
     margin-right: 0px;
 }
 
 .col-sm-5 {
     width: 31.6667%;
     float: left;
         position: relative;
     min-height: 1px;
     padding-left: 15px;
     padding-right: 15px;
     box-sizing: border-box;
 }

 .about {
 background-color: white;
 padding: 20px;
     }
 
 .pageName {
     margin: 0;
     padding: 12px;
      line-height: 50px;
     color: #fff;
     font-family: Calibri, Trebuchet MS, sans-serif;
     font-size: 26px;
     font-weight: normal;
     text-transform: uppercase;
     background-color: #009933;
     text-align: center;
     }
 
 .text-label {
     font-weight: 700;
     box-sizing: border-box;
      }

.text-label a {
    font-family: Calibri, Trebuchet MS, sans-serif;
     font-size: 22px;
}
 
ul, .kmenu {
      list-style: none;
      margin: 0px;
     }
 
 .kmenu a {
      color: lawngreen;
     font-size: 18px;
 }
 
 .col-sm-7 {
     width: 68%;
     float: left;
     position: relative;
 min-height: 1px;
 padding-left: 15px;
 padding-right: 15px;
     box-sizing: border-box;
     }
 
 .pageTitle {
     color: #009933;
     text-align: center;
     }
 
 .pageTitle h1 {
         font-size: 28px;
     line-height: 1.25em;
     font-family: Trebuchet MS,sans-serif;
     text-transform: uppercase;
     margin: 0px;
     padding: 20px;
      } 
 
 .article-section {
     margin-bottom: 40px;
     box-sizing: border-box;
     background-color: white;
     height: inherit;
 }
 
 .article-section h2 {
 text-align: center;
    } 

.article-section h2 a {
    font-size: 35px;  
 } 
 
 p {
         margin-top: 0px;
         margin-right: 0px;
         margin-bottom: 1.55em;
         margin-left: 0px;
     padding-left: 15px;
     padding-right: 15px;
     box-sizing: border-box;
 }
 
 /* END PAGE-MEIN*/
 
 /*FOOTER*/
 
 .contacts .container {
     margin: 0;
     padding-left: 15px;
     padding-right: 15px;
     max-width: 100%;
     height: 200px;
     background-color: #322016;
 }

.contacts .row {
height: 200px;
}
 
 .contacts .col-sm-12 {
     width: 100%;
         float: left;
     min-height: 1px;
     padding: 15px;
      }
 
 .contacts .contacts-left {
     padding: 20px;
 }
 
 .contacts .contacts-left .copyright {
     color: #8F6F54;
     font-size: 20px;
     display: block;
     float: left;
     margin-right: 10px;
 }
 
 .contacts-left span {
    float: left;
    color: #8F6F54;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
}
 
.share-links {
margin: 0px;
        text-align: right;}

.share-links a {
     margin: 15px;
         text-align: right;
         transition: opacity 0.2s ease-in-out 0s;
         transition-property: opacity;
         transition-duration: 0.2s;
         transition-timing-function: ease-in-out;
         transition-delay: 0s;
     background-color: transparent;
 text-decoration: none;
     text-decoration-color: -moz-use-text-color;
     text-decoration-line: none;
     text-decoration-style: solid;
     text-align: center;
 }
 
 /*FOOTER*/