.topmenu ul{
	display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.topmenu ul li{
  list-style-type: none;
}
.top4 {
	display: flex;
	flex-wrap: wrap;
justify-content: space-around;
}
.topnews {
	display: flex;
	flex-wrap: wrap;
justify-content: space-around;
}
.clearboth{
	clear: both;
}