/*header*/
.panel-h2{
    font-size: 35px;
    font-family:Lobster, cursive; 
}
.select{
    width: 100%;
    height: 30px;
    color: firebrick;
    background-color: #f2dede;
    border-color: #ebccd1; 
    border-radius: 4px;
}
    .navigation{
        margin-top: 10px;
        font-size: 22px;
        color: lightgrey;
    }
    .opa{
        opacity: 0.8;      
}


    .activ{
        margin-top: 10px;
        border-radius: 50px   50px;
        background-color: lightgray;
        opacity: 0.;
        font-size: 22px;
        color: ;
    }
.black{
    background-color: wheat;
    
     opacity:0.;
   
   
}
    .right{
        right: 5px;
    }
    .logo{
        left: 15px;
        position: absolute;
        margin-top: 10px;
        z-index: 2;
        margin: px;
    }

    @media (max-width: 765px){
        .border{
            background-color: lightslategray;
        }

        .border1{
            background-color: lightseagreen;
            opacity: 2;
        }
    }
    @media (max-width:978px){
        .container{
            width: 100%;
        }
    }
    .nava{
        width: 100%;
        position: absolute;
        right: 1px;
        z-index: 9;
    }
    .icon-bar{
        background-color: aliceblue;
    }
    .border{
        opacity: 0.9;
        border-radius: 50px  50px;
        align-content: center;
        margin-left: 5px;
        border: 2px solid lightgrey;
    }
    .align{
            margin: 5px;
           position: absolute;
           right: 5px;
    }
    .border1{
        align-content: center;
        margin-left: 5px;
        border: 2px solid white;
    }


/*body*/

@media (max-width:500px){
    .post_section{
    clear: both;
    position: relative;
    padding: 0 0px 0px 0;
    margin: 40px ;
    background: url(image/templatemo_post_bottom.png) bottom right no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
}
}
.navig{
        font-size: 17px;
}
.images{
    float: left;
}
.headers{
    color: red;
}

.post_section{
    
    clear: both;
    position: relative;
    padding: 0 40px 10px 0;
    margin: 40px ;
    background: url(image/templatemo_post_bottom.png) bottom right no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
}
.slideDown{
    display: none;
}
.scroll_up{

    position: fixed;
    right: 5px;
    
    height: 30px;
    background-color: olive;
}
.scroll{
    position: fixed;
}

/*-------------------------Sidebar---------------------------*/
.sticky-content{
  background: #DDD;
  padding: 10px;
}
.button{
    width: 100%;
    font-size: 22px;
    font-family:Lobster, cursive; 
    Font-size:30px;
}
.sticky-content.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.red{
    border: 1px solid red;
}
.white{
    border: 1px solid lightgray;
}
/*--------------------------End Sidebar----------------------*/


.tab-pane{
    position: relative;
}
 /*FOOTER*/
.boot{
    clear: both;
}
footer {
    margin:0;
    min-width: 320px;
    max-width: 100%;
    left: 0;
    right: 0;
    
    background: #322016;
    
}
.footer_flex{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap:wrap;
}
.footer_flex div{
  margin:10px;
}

.footer_flex span {
    float: left;
    color: #F9F2EC;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
}
.footer_flex .adress span{
  font-size: 14px;
}
.footer_flex div img
{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
}
.footer_flex img.mail{
  width: 30px;
  height: 20px;
  border-radius: 0px;
}
.footer_flex div  a img{
  margin-left: 20px;
  border-radius: 2px;
}
.footer_flex div  a img:hover{
  margin-left: 20px;
  border:1px solid white;
  cursor: pointer;
}
.copyright{
  color: #2f4f4f;
  font-size: 12px;  
}







/*FOOTER*/


  /*Adapt part*/
  @media all and (max-width: 890px) and (min-width: 650px){
  .main{
    height: 600px;
  }
  .main .cols.col-3{
    width: 33%;
    margin: 0 auto;
    display: inline-block;
  }
   .main .cols.col-3 article.green{
    margin-top: 20px;


   }
}
@media all and (max-width: 680px){
    .main .cols.col-3{
    width: 50%;
    margin: 0 auto;
    display: inline-block;
  }
     .main .cols.col-3 article.green,
    .main .cols.col-3 article.red
     {
    margin-top: 20px;
  }
  .container header .cols.col-3{
	  width:100%;
  }
  

    .container header .cols.col-9{
	  display: none;
  }
  .header_hidden{
    display: block;
  }
}   
   
@media all and (max-width: 455px){
    .main .cols.col-3{
    width: 100%;
    margin: 0 auto;
    display: block;
	
  }

     .main .cols.col-3 article.green,
    .main .cols.col-3 article.red,
	.main .cols.col-3 article.orange
     {
    margin-top: 20px;
	
}

}

@media screen and (min-width: 1200px) {
.navbar.container  {
    max-width: 100%;
}    
}

@media screen and (min-width: 992px) {
.navbar.container  {
    max-width: 100%;
}    
}

.navbar {
	margin-bottom: 0;
     border: 0;
  }
  
.footer {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 0;
    border-top:0;
}
.col-sm-12 {
    padding-right: 0;
    padding-left: 0;
}


