/*PAGE SEE*/
body {
    font-family: Tahoma,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
	}

/*HEADER*/

header .conteiner {
    background-image: url(image/Ivano-Frankivsk.jpg);
    background-size: cover;
    max-width: 100%;
    height: 550px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}

/*nav*/

nav {
    position: relative;
    top: 0;
    right: 0px;
    float: right;
    display: inline-block;
    text-align: right;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: 40px;
    }

.menu_ul > li {
    display: inline-block;
    height: auto;
    font-family: Tahoma,sans-serif;
    font-size: 20px;
    cursor: pointer;
}

ul li a {
    line-height: 10px;
    padding: 10px;
    color: white;
text-decoration: none;
}

ul li a:hover {
    color: lightgreen;
}

/*END NAV*/

/*button search*/
.settings {
float: right;
    }

input[type="submit"] {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    color: buttontext;
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 0.7em;
    border-style: none;
    border-color: buttonface;
    color: white;
}

/*button search*/


/*logotyp*/

.logo {
     margin: 0px;
    padding-bottom: 10px;
    padding-left: 110px;
    padding-right: 10px;
    padding-top: 20px;
    height: 250px;
    }

.logo_title {
    height: 90px;
}

.logo_title h4 a {
    text-align: left;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    color: aliceblue;
    font-size: 35px;
    font-family: MuseoSans,Helvetica,Arial,sans-serif;
    text-decoration: none;
    }

.logo_title h1 a {
    text-align: left; 
    margin: 0px;
    padding: 5px 0px 5px 0px;
    padding-left: 0px;
    color: aliceblue;
    font-size: 52px;
    font-family: MuseoSans,Helvetica,Arial,sans-serif;
    text-decoration: none;
    }

.logo_title h4 a:hover {
    color: lightgreen;
}
    
.logo_title h1 a:hover {
    color: lightgreen;
}

/*END logotype*/


/*END logotype*/

/*PAGE MAIN */
.conteiner {
    line-height: 1.5;
    font-family: MuseoSans,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #1A1919;
    background-color: #F9F2EC;
    max-width: 100%;
}
 
.conteiner a {
    font-size: 20px;
    font-weight: bold;
    color: #009933;
    text-decoration: none;
 }

.conteiner a:hover {
    color: #99FF99;
}

.row {
    margin: 0px;
}

 .about {
    background-color: white;
    padding: 20px;
     }
 
 .pageName {
    margin: 0;
    padding: 15px;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #009933;
    text-align: center;
    }

.text-label a {
    font-size: 22px;
    color: #009933;}
 
.text-label a:hover {
    color: lightgreen;
}

.main_see {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    }
 
 .pageTitle {
    color: #009933;
    text-align: center;
    }
 
 .pageTitle h1 {
    font-size: 25px;
    line-height: 1.25em;
    font-family: Trebuchet MS,sans-serif;
    text-transform: uppercase;
    margin: 0px;
    padding: 15px;
    background-color: #F9F2EC;
 } 
 
.article-section {
    margin-bottom: 20px;
    background-color: white;
    height: inherit;
 }

.section {
    margin: 0 auto;
    padding: 0px;
    position: relative;
    height: inherit;
    box-sizing: border-box;
}

.main img {
    display: inline-block;
    max-height: auto;
    max-width: 100%;
    margin-right: 10px;
	margin-bottom: 5px;
    padding: 0;
    width: 385px;
    height: 255px;
    float: left;
	vspace: 10;
}

p {
    text-align: justify;
	color: #322016;
} 
 /* END PAGE-MEIN*/
 
 /*FOOTER*/
footer {
    margin: 0;
    min-width: 320px;
    max-width: 100%;
    height: auto;
    background: #322016;
    
}

.footer_flex{
   display: flex;
   flex-direction:row;
   justify-content:space-around;
   flex-wrap:wrap;
}

.footer_flex div{
   margin:10px;
}

.footer_flex span {
   float: left;
   color: #F9F2EC;
   margin-bottom: 0px;
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 0px;
   text-align: left;
   vertical-align: middle;
   font-size: 16px;
}
.footer_flex .adress span{
   font-size: 14px;
}
.footer_flex div img
{
   width: 20px;
   height: 20px;
   border-radius: 10px;
   vertical-align: middle;
}
.footer_flex img.mail{
   width: 30px;
   height: 20px;
   border-radius: 0px;
}
.footer_flex div  a img{
   margin-left: 20px;
   border-radius: 2px;
}
.footer_flex div  a img:hover{
   margin-left: 20px;
   border:1px solid white;
   cursor: pointer;
}

 /*FOOTER*/

/*END PAGE SEE*/


/*galery*/
.article-section {
   margin-bottom: 20px;
   background-color: white;
   height: inherit;
}


/*  Demo Style
-----------------------------------------------------*/

body {
   line-height: 1;
}

ul {
   list-style: none;
}

section {
   display: block;
}

.wrap {
   width: 100%;
   margin: 0 auto;
}

.box {
   width: 24.9%;
   height: auto;
   float: left;
   margin-bottom: 0.7em;
   text-align: center;
  }

.box a {
   display: inline-block;
   width: 98%;
   height: auto;
}

.box a img {
  width: 98%;
  height: 169px;
  vertical-align: bottom;
}

/* media
---------------------------------------*/

@media screen and (max-width: 1024px) {
  body {
    font-size: 1em;
  }

  .wrap {
    width: 100%;
  }

  .box {
    width: 50%;
  }

}
@media screen and (max-width: 500px) {
  .wrap {
    width: 100%;
  }

  .box {
    width: 100%;
  }

  h1 {
    font-size: 3.8em;
  }

}

/*swiperbox
___________________________________________________*/


#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999!important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
}

#swipebox-slider .slide {
  background: url("image/loader.gif") no-repeat center center;
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}

#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#swipebox-slider .slide img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 620px;
  height: 620px;
  vertical-align: middle;
}

#swipebox-slider .slide .swipebox-video-container {
  background:none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding:5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video{
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe{
  width: 100%!important; 
  height: 100%!important;
  position: absolute;
  top: 0; left: 0;
}

#swipebox-action, #swipebox-caption {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
}


#swipebox-caption {
  bottom: -50px;
  text-align: center;
}

#swipebox-caption.visible-bars {
  bottom: 0;
}

#swipebox-caption.force-visible-bars {
  bottom: 0!important;
}

#swipebox-action #swipebox-prev, #swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
  background: transparent url("image/icons.png") no-repeat;
  border: none!important;
  text-decoration: none!important;
  cursor: pointer;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 0;
}

#swipebox-action #swipebox-close {
  background-position: 15px 12px;
  right: 0;
}

#swipebox-action #swipebox-prev {
  background-position: -32px 13px;
  left: 0;
  top:50%;
  margin-top: -25px;
}

#swipebox-action #swipebox-next {
  background-position: -78px 13px;
  right: 0;
  top:50%;
  margin-top: -25px;
}

#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

#swipebox-slider.rightSpring {
  -moz-animation: rightSpring 0.3s;
  -webkit-animation: rightSpring 0.3s;
}

#swipebox-slider.leftSpring {
  -moz-animation: leftSpring 0.3s;
  -webkit-animation: leftSpring 0.3s;
}

@-moz-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}

@-moz-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0px;
  }
}


/* Skin 
--------------------------*/
#swipebox-overlay {
  background: #000;
}

#swipebox-caption .title,
#swipebox-caption .counter{
  
}
#swipebox-caption {
  background-color: rgba(0,0,0,.65);
}


#swipebox-caption .counter{
  float: left;
  padding: 0 25px; 
  color: #666;
  line-height: 45px;
  font-size: 13px; font-family: sans-serif;
  letter-spacing: 1px;
}

#swipebox-caption .title{
  padding: 0 25px;
  }

#swipebox-caption {
  color: white!important;
  font-size: 15px;
  line-height: 43px;
}

